/*==== HEADER ====*/
header.wraphead_mobile {
  background: #fff;
  position: relative;
  height: 80px;
  border-bottom: 1px solid #eee;
}

@media (max-width: 991px) {
  header.wraphead_mobile {
    height: 60px;
  }
}

header.wraphead_mobile .container {
  position: relative;
}

header.wraphead_mobile .header_top {
  padding: 0 20px;
}

@media (max-width: 991px) {
  header.wraphead_mobile .header_top {
    margin-top: -3px;
  }
}

header.wraphead_mobile .header_top .logo {
  display: inline-block;
  margin-top: 0px;
}

header.wraphead_mobile .header_top .logo .logo-wrapper {
  height: 80px;
  line-height: 80px;
  display: block;
}

@media (max-width: 991px) {
  header.wraphead_mobile .header_top .logo .logo-wrapper {
    height: 60px;
    line-height: 60px;
  }
}

header.wraphead_mobile .header_top .logo .logo-wrapper img {
  max-width: 100%;
  width: auto;
  max-height: 50px;
}

@media (max-width: 1199px) and (min-width: 992px) {
  header.wraphead_mobile .header_top .logo .logo-wrapper img {
    max-height: 40px;
  }
}

header.wraphead_mobile .cartsearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

@media (max-width: 991px) {
  header.wraphead_mobile .cartsearch {
    top: -2px;
    position: absolute;
    right: 0px;
  }
}

header.wraphead_mobile .cartsearch .searchhd {
  height: 80px;
  line-height: 80px;
  font-size: 1.4rem;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  header.wraphead_mobile .cartsearch .searchhd {
    height: 60px;
    line-height: 60px;
  }
}

header.wraphead_mobile .cartsearch .searchhd a {
  color: var(--hover);
}

header.wraphead_mobile .cartsearch .searchhd a:hover {
  color: #6bb300;
}

header.wraphead_mobile .cartsearch .searchhd .iconsearch {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

header.wraphead_mobile .cartsearch .searchhd .iconsearch .fa {
  color: var(--mainColor);
}

header.wraphead_mobile .cartsearch .searchhd form {
  position: absolute;
  width: 220px;
  height: 40px;
  margin-bottom: 0;
  display: none;
}

@media (max-width: 991px) {
  header.wraphead_mobile .cartsearch .searchhd form {
    width: 100%;
  }
}

header.wraphead_mobile .cartsearch .searchhd form input {
  position: absolute;
  top: -65px;
  z-index: 999;
  left: -202px;
  border-radius: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 15px;
}

@media (max-width: 991px) {
  header.wraphead_mobile .cartsearch .searchhd form input {
    top: 0;
    left: 0;
  }
}

header.wraphead_mobile .cartsearch .searchhd form button {
  position: absolute;
  left: -30px;
  top: -65px;
  z-index: 999;
}

@media (max-width: 991px) {
  header.wraphead_mobile .cartsearch .searchhd form button {
    top: 0;
    right: 0;
    left: auto;
  }
}

header.wraphead_mobile .cartsearch .searchhd:hover form {
  display: block;
}

header.wraphead_mobile .cartsearch .carthd {
  display: inline-block;
  position: relative;
  margin-left: 45px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  header.wraphead_mobile .cartsearch .carthd {
    margin-left: 20px;
  }
}

header.wraphead_mobile .cartsearch .carthd .mini-cart {
  height: 80px;
  line-height: 80px;
}

@media (max-width: 991px) {
  header.wraphead_mobile .cartsearch .carthd .mini-cart {
    height: 60px;
    line-height: 60px;
  }
}

header.wraphead_mobile .cartsearch .carthd .mini-cart .icon_cart {
  display: inline-block;
}

header.wraphead_mobile .cartsearch .carthd .mini-cart .icon_cart .fas {
  font-size: 1.8rem;
}

header.wraphead_mobile .cartsearch .carthd .mini-cart .icon_cart .icon_hotline {
  position: relative;
  min-height: 60px;
}

header.wraphead_mobile .cartsearch .carthd .mini-cart .icon_cart .icon_hotline svg {
  position: relative;
  bottom: 2px;
}

header.wraphead_mobile .cartsearch .carthd .mini-cart .icon_cart .border_count {
  background: var(--hover);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 21px;
  left: 15px;
}

@media (max-width: 991px) {
  header.wraphead_mobile .cartsearch .carthd .mini-cart .icon_cart .border_count {
    top: 18px;
  }
}

header.wraphead_mobile .cartsearch .carthd .mini-cart .icon_cart .border_count .count_item {
  color: #fff;
  font-size: 1rem;
}

header.wraphead_mobile .cartsearch .carthd .mini-cart .icon_cart .text_gh {
  text-transform: uppercase;
  padding-left: 3px;
  font-size: 1.4rem;
  font-weight: 600;
}

.header-nav {
  text-align: right;
}

.header-nav > ul.item_big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.header-nav > ul.item_big > li.nav-item {
  display: inline-block;
  float: none;
  position: relative;
  border-radius: 0px;
  padding: 0 10px;
  height: 80px;
}

.header-nav > ul.item_big > li.nav-item.has-mega {
  position: static !important;
}

.header-nav > ul.item_big > li.nav-item > a {
  display: block;
  text-align: left;
  padding: 0px 0px 0 0;
  font-size: 1.4rem;
  font-weight: 600;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.header-nav > ul.item_big > li.nav-item > a > i {
  margin-left: 5px;
}

.header-nav > ul.item_big > li.nav-item:hover > a {
  color: var(--hover);
}

.header-nav > ul.item_big > li.nav-item:hover > ul {
  overflow: visible;
  max-height: 3000px;
  max-width: 3000px;
  opacity: 1;
  z-index: 999;
  -webkit-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
  -webkit-transition: opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end, -webkit-transform 0.5s ease;
  transition: opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end;
  transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end, padding 0s step-end, -webkit-transform 0.5s ease;
}

.header-nav > ul.item_big > li.nav-item .item_small {
  overflow: hidden;
  display: block;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  -webkit-transform: perspective(600px) rotateX(-90deg);
  transform: perspective(600px) rotateX(-90deg);
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
  -webkit-transition: opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end, -webkit-transform 0.5s ease;
  transition: opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end;
  transition: transform 0.5s ease, opacity 0.6s ease, max-height 0.6s step-end, max-width 0.6s step-end, padding 0.6s step-end, -webkit-transform 0.5s ease;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 250px;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.header-nav > ul.item_big > li.nav-item > ul li {
  float: none;
  padding: 0 20px;
}

.header-nav > ul.item_big > li.nav-item > ul li:last-child > a {
  border-bottom: 0;
}

.header-nav > ul.item_big > li.nav-item > ul li:hover > ul {
  display: block;
  position: absolute;
  width: 250px;
  padding: 0;
  background-color: #fff;
  z-index: 99;
  -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
}

.header-nav > ul.item_big > li.nav-item > ul li a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 24px;
  display: block;
  padding: 7px 5px 7px 0px;
  position: relative;
  border-bottom: solid 1px #e5e6ec;
  text-align: left;
}

.header-nav > ul.item_big > li.nav-item > ul li a:hover {
  color: var(--mainColor);
}

.header-nav > ul.item_big > li.nav-item > ul li a i {
  position: absolute;
  right: -10px;
  padding: 0px 10px;
  top: 0;
  line-height: 38px;
}

.header-nav > ul.item_big > li.nav-item > ul li ul {
  display: none;
  left: 250px;
  top: 0px;
}

.header-nav > ul.item_big > li.nav-item > ul > li:hover > a {
  color: var(--hover);
}

.header-nav > ul.item_big > li.active {
  background: #fff;
  border-top-color: var(--mainColor);
}

.header-nav > ul.item_big > li.active > a {
  color: var(--mainColor);
  font-weight: 400;
}

.header-nav ul {
  display: inline-block;
}

.header-nav ul li ul a.text2line:hover {
  color: var(--hover) !important;
  background: transparent !important;
}

.header-nav li li {
  position: relative;
}

@media (max-width: 991px) {
  .logo {
    width: 160px;
    display: inline-block;
    margin-top: 0px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.menubutton {
  position: absolute;
  z-index: 999;
  color: var(--mainColor);
  font-size: 1.8rem;
  left: 0px;
  top: 15px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .menubutton .fas {
    font-size: 24rem;
  }
}

@media (max-width: 767px) {
  .menubutton {
    font-size: 0px;
    top: 23px;
  }
}

.menubutton:hover {
  color: #fff;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .menubutton {
    left: 15px;
  }
}

.wrapmenu_right {
  height: 100vh;
  width: 375px;
  z-index: 99999;
  left: 0;
  top: 0px !important;
  visibility: hidden;
  background: #fff;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-transform: translateX(-375px);
  transform: translateX(-375px);
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .wrapmenu_right {
    width: 280px;
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px);
  }
}

.wrapmenu_right.open_sidebar_menu {
  visibility: visible;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.wrapmenu {
  position: relative;
}

.wrapmenu .nav-close {
  z-index: 9999;
  position: absolute;
  right: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  line-height: 30px;
  height: 30px;
}

.wrapmenu .nav-close svg {
  width: 30px;
  height: 30px;
}

.wrapmenu .logo {
  margin-bottom: 25px;
}

.wrapmenu .p-r-30 {
  padding: 0 30px;
}

.wrapmenu .contenttop {
  text-align: left;
}

.wrapmenu .contenttop a {
  font-weight: 700;
}

.wrapmenu .contenttop a:hover {
  color: var(--hover);
}

.wrapmenu .social {
  width: 100%;
}

.wrapmenu .social a {
  display: inline-block;
  margin-left: 15px;
}

.wrapmenu .social a:first-child {
  margin-left: 0;
}

.wrapmenu .social a i {
  color: var(--mainColor);
}

.wrapmenu .social a i:hover {
  color: var(--hover);
}

.wrapmenu form {
  padding: 0px;
}

.wrapmenu form input {
  padding: 0 30px 0 15px;
  border-radius: 40px !important;
}

.wrapmenu form button {
  padding: 0;
  width: 30px;
  text-align: center;
  position: absolute;
  top: 0;
  height: 40px !important;
  right: 20px;
  line-height: 40px;
}

/***menu full****/
.wrapmenu_full {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.wrapmenu_full::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.wrapmenu_full::-webkit-scrollbar {
  width: 0px;
  background-color: #fff;
}

.wrapmenu_full::-webkit-scrollbar-thumb {
  border: 0px solid #cdcfdd;
}

.wrapmenu_full .nav-close {
  z-index: 9999;
  position: absolute;
  right: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  line-height: 30px;
  height: 30px;
}

.wrapmenu_full .nav-close svg {
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .wrapmenu_full {
    width: 280px;
  }
}

.wrapmenu_full .container {
  position: relative;
}

.wrapmenu_full .logo {
  width: 100%;
  text-align: center;
}

.wrapmenu_full .logo a {
  padding: 10px;
  display: block;
}

.wrapmenu_full .menu_mobile {
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 0px;
  background: #fff;
  padding: 0 0px;
}

.wrapmenu_full .menu_mobile p {
  display: block;
  height: 110px;
  line-height: 110px;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  padding: 0 30px;
  box-shadow: 0px 1px 24.57px 2.43px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 24.57px 2.43px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 24.57px 2.43px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0px 1px 24.57px 2.43px rgba(0, 0, 0, 0.12);
  -os-box-shadow: 0px 1px 24.57px 2.43px rgba(0, 0, 0, 0.12);
}

@media (max-width: 767px) {
  .wrapmenu_full .menu_mobile {
    padding: 0;
  }
}

.wrapmenu_full .menu_mobile .ul_collections {
  padding-left: 0;
  max-height: 90vh;
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 0px;
}

.wrapmenu_full .menu_mobile .ul_collections::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.wrapmenu_full .menu_mobile .ul_collections::-webkit-scrollbar {
  width: 0px;
  background-color: #fff;
}

.wrapmenu_full .menu_mobile .ul_collections::-webkit-scrollbar-thumb {
  border: 0px solid #cdcfdd;
}

.wrapmenu_full .menu_mobile .ul_collections li {
  position: relative;
  display: block;
  padding: 0 0px;
  border-bottom: solid 1px #ebebeb;
}

.wrapmenu_full .menu_mobile .ul_collections li:last-child {
  border-bottom: none;
}

.wrapmenu_full .menu_mobile .ul_collections li.special a {
  color: var(--hover);
  font-weight: 700;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: unset;
  font-weight: 400;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 > a {
  padding-left: 50px;
  position: relative;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 > a:before {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  content: "";
  background: var(--mainColor);
  position: absolute;
  left: 30px;
  top: 20px;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 ul {
  padding-left: 0;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1:first-child {
  border-top: solid 1px #ebebeb;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1.current > a {
  color: var(--hover);
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1.current > a:before {
  border-color: var(--hover);
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 a {
  padding: 10px 50px 10px 70px;
  position: relative;
  line-height: 22px;
  text-transform: unset;
  font-weight: 400;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 a:before {
  content: "";
  top: 18px;
  left: 45px;
  position: absolute;
  width: 9px;
  height: 9px;
  border: solid 2px #d7d7d7;
  border-radius: 50%;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1:last-child {
  border-bottom: 0px;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .fa {
  top: 5px;
  right: 20px;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 {
  padding-left: 0px;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1.current {
  border-top: 0px;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1.current > a {
  color: var(--hover);
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1.current > a:before {
  border-color: var(--hover);
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .fa {
  top: 7px;
  right: 20px;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1:last-child {
  border-bottom: 0px;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 ul.level2 {
  padding-left: 0px;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 ul.level3 {
  padding-left: 0px;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level2:first-child, .wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level3:first-child {
  border-top: solid 1px #ebebeb;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level2 a, .wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level3 a {
  padding: 10px 50px 10px 90px;
  position: relative;
  line-height: 22px;
  text-transform: unset;
  font-weight: 400;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level2 a:before, .wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level3 a:before {
  content: "";
  top: 16px;
  left: 70px;
  position: absolute;
  width: 9px;
  height: 9px;
  border: solid 2px #d7d7d7;
  border-radius: 50%;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level2 .level3 a:before, .wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level3 .level3 a:before {
  border-radius: 0;
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level2.current > a, .wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level3.current > a {
  color: var(--hover);
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level2.current > a:before, .wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level3.current > a:before {
  border-color: var(--hover);
}

.wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level2:last-child, .wrapmenu_full .menu_mobile .ul_collections li.level0 .level1 .level1 .level3:last-child {
  border-bottom: 0px;
}

.wrapmenu_full .menu_mobile .ul_collections li .fa {
  position: absolute;
  right: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 9px;
  text-align: center;
  font-size: 1rem;
}

.wrapmenu_full .menu_mobile .ul_collections li a {
  padding: 10px 0px;
  font-size: 1.6rem;
  display: block;
  text-decoration: none;
}

.wrapmenu_full .menu_mobile .ul_collections li a:hover {
  color: var(--hover);
}

.wrapmenu_full .menu_mobile .ul_ li span {
  padding-left: 15px;
}

.wrapmenu_full .menu_mobile .ul_ li .phone_ {
  color: red;
  padding-left: 5px;
}

.wrapmenu_full .menu_mobile .ul_ li a {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 15px;
}

/*==== Popup cart ====*/
.cart_sidebar {
  position: fixed;
  width: 340px;
  top: 0 !important;
  bottom: 0;
  background-color: #fff;
  overflow: hidden;
  z-index: 999999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  visibility: hidden;
  -webkit-transition: visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  right: 0;
}

@media (max-width: 480px) {
  .cart_sidebar {
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.cart_sidebar.active {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cart_sidebar.active .evo-cart-content {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cart_sidebar .evo-cart-content {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s;
  transition: opacity 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s;
  transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.25s;
  transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  height: 100%;
  position: relative;
}

.cart_sidebar .evo-cart-content .cart_heading {
  padding: 15px 15px;
  display: block;
  position: relative;
}

.cart_sidebar .evo-cart-content .cart_heading .cart_title {
  margin-bottom: 0;
  text-align: left;
  font-size: 1.6rem;
  display: block;
  text-transform: uppercase;
  color: #222;
  font-weight: 600;
}

.cart_sidebar .evo-cart-content .cart_heading .cart_btn-close {
  position: absolute;
  margin-left: 0;
  right: 15px;
  top: 18px;
  line-height: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  z-index: 999;
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.cart_sidebar .evo-cart-content .cart_heading .cart_btn-close svg {
  width: 15px;
  height: 15px;
  stroke-width: 1.5px;
}

.cart_sidebar .evo-cart-content .cart_heading .cart_btn-close:hover {
  -webkit-transform: translate(0%, 0%) rotate(360deg);
          transform: translate(0%, 0%) rotate(360deg);
}

.cart_sidebar .evo-cart-content .cart-footer {
  padding: 10px;
}

.cart_sidebar .evo-cart-content .cart-footer hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cart_sidebar .evo-cart-content .cart-footer .cart__subtotal {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.cart_sidebar .evo-cart-content .cart-footer .cart__subtotal .cart__col-6 {
  width: 50%;
  float: left;
}

.cart_sidebar .evo-cart-content .cart-footer .cart__subtotal .cart__totle {
  width: 50%;
  float: left;
}

.cart_sidebar .evo-cart-content .cart-footer .cart__subtotal .cart__totle .total-price {
  color: var(--hover);
}

.cart_sidebar .evo-cart-content .cart-footer .cart__btn-proceed-checkout-dt {
  display: block;
  position: relative;
  padding-top: 24px;
}

.cart_sidebar .evo-cart-content .cart-footer .cart__btn-proceed-checkout-dt button {
  width: 100%;
  background-color: var(--mainColor);
  color: #fff;
  text-align: center;
}

.cart_sidebar .evo-cart-content .cart-footer .cart__btn-proceed-checkout-dt button:hover, .cart_sidebar .evo-cart-content .cart-footer .cart__btn-proceed-checkout-dt button:focus {
  background-color: var(--hover);
}

.cart_sidebar .evo-cart-content .cart_body {
  padding: 15px;
  height: calc(100vh - 210px);
  overflow-y: auto;
}

@media (max-width: 767px) {
  .cart_sidebar .evo-cart-content .cart_body {
    height: calc(100vh - 270px);
  }
}

.cart_sidebar .evo-cart-content .cart_body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}

.cart_sidebar .evo-cart-content .cart_body::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.cart_sidebar .evo-cart-content .cart_body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

.cart_sidebar .evo-cart-content .cart_body .cart-empty .empty-icon {
  display: block;
}

.cart_sidebar .evo-cart-content .cart_body .cart-empty .empty-icon .ico-cart {
  height: 200px;
  width: 200px;
  background-image: url("../images/icons/mobile-shopping.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 569px) {
  .cart_sidebar .evo-cart-content .cart_body .cart-empty .empty-icon .ico-cart {
    height: 180px;
    width: 180px;
  }
}

.cart_sidebar .evo-cart-content .cart_body .cart-empty .btn-cart-empty {
  margin-top: 20px;
  text-align: center;
}

.cart_sidebar .evo-cart-content .cart_body .cart-empty .btn-cart-empty a {
  background-color: var(--mainColor);
  display: inline-block;
  padding: 12px 30px;
  color: #fff;
  height: auto;
  line-height: 1.1;
}

.cart_sidebar .evo-cart-content .cart_body .cart-empty .btn-cart-empty a:hover, .cart_sidebar .evo-cart-content .cart_body .cart-empty .btn-cart-empty a:focus {
  background-color: var(--hover);
  color: #fff;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product {
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: table;
  width: 100%;
}

@media (min-width: 500px) and (max-width: 569px) {
  .cart_sidebar .evo-cart-content .cart_body .cart_product {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_image {
  display: table-cell;
  width: 24%;
  vertical-align: top;
  position: relative;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info {
  padding-left: 15px;
  vertical-align: top;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .cart_name {
  margin-bottom: 4px;
  font-size: 1.3rem;
  font-weight: 500;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .cart_name a {
  color: #222;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .cart_name a:hover, .cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .cart_name a:focus {
  color: var(--hover);
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_item_name {
  width: 50%;
  float: left;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_item_name .cart_size {
  font-size: 1.3rem;
  margin-bottom: 0;
  display: block;
  font-weight: normal;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_item_name .cart_quantity {
  font-size: 1.2rem;
  margin-bottom: 0;
  display: block;
  font-weight: normal;
  color: #333;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_item_name .cart_select .input-group-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_item_name .cart_select .input-group-btn button {
  border-radius: 0;
  border: 1px solid #e5e5e5;
  border-color: #e5e5e5;
  color: #222;
  line-height: 26px;
  padding: 0;
  margin: 0;
  width: 28px;
  background-color: #fff;
  height: 28px;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_item_name .cart_select .input-group-btn button.btn-minus {
  float: left;
  border-right: 0;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_item_name .cart_select .input-group-btn button.btn-plus {
  float: left;
  border-left: 0;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_item_name .cart_select .input-group-btn input {
  display: inline-block;
  height: 28px;
  padding: 0;
  text-align: center;
  border-radius: 0;
  width: 35px;
  min-height: 28px;
  border: 1px solid #e5e5e5;
  color: #222;
  height: 28px;
  margin: 0;
  outline: none;
  font-size: 1.4rem;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_prices {
  width: 50%;
  float: left;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_prices .cart__price {
  margin-bottom: 5px;
  margin-top: 5px;
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_prices .cart__price .cart__sale-price {
  font-weight: 500;
  display: block;
  color: var(--hover);
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_prices .cart__btn-remove {
  font-size: 1.3rem;
  color: var(--mainColor);
}

.cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_prices .cart__btn-remove:hover, .cart_sidebar .evo-cart-content .cart_body .cart_product .cart_info .row-cart-left .cart_prices .cart__btn-remove:focus {
  text-decoration: underline;
}

/*==== Section Home ====*/
.section-home {
  margin-top: 15px;
  margin-bottom: 35px;
}

.section-home .home-slider {
  position: relative;
}

.section-home .home-slider .swiper-slide {
  text-align: center;
}

.section-home .home-slider .swiper-button-next:after, .section-home .home-slider .swiper-button-prev:after {
  font-size: 20px;
  color: var(--mainColor);
}

@media (max-width: 767px) {
  .section-home .home-slider .swiper-button-next:after, .section-home .home-slider .swiper-button-prev:after {
    font-size: 15px;
  }
}

.section-home .home-slider .swiper-button-next, .section-home .home-slider .swiper-button-prev {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(168, 168, 168, 0.25);
          box-shadow: 0px 2px 4px 0px rgba(168, 168, 168, 0.25);
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0px;
}

.section-home .home-slider .swiper-button-next:after, .section-home .home-slider .swiper-button-prev:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .section-home .home-slider .swiper-button-next, .section-home .home-slider .swiper-button-prev {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1200px) {
  .section-home .home-slider .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .section-home .home-slider .swiper-button-next {
    right: 0px;
  }
}

@media (max-width: 767px) {
  .section-home .home-slider .swiper-button-next {
    right: 5px;
  }
}

@media (min-width: 1200px) {
  .section-home .home-slider .swiper-button-prev {
    left: 10px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .section-home .home-slider .swiper-button-prev {
    left: 0px;
  }
}

@media (max-width: 767px) {
  .section-home .home-slider .swiper-button-prev {
    left: 5px;
  }
}

/*==== Section Policy ====*/
.section-policy {
  margin-bottom: 40px;
}

.section-policy .widget-inner {
  border: 1px solid #ebebeb;
}

.section-policy .slickpoli .policy-item {
  text-align: center;
  height: 70px;
  padding: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .section-policy .slickpoli .policy-item {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .section-policy .slickpoli .policy-item {
    height: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.section-policy .slickpoli .policy-item .media {
  min-width: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-policy .slickpoli .policy-item .info {
  text-align: left;
  width: calc(100% - 120px);
  -o-width: calc(100% - 120px);
  -moz-width: calc(100% - 120px);
  -webkit-width: calc(100% - 120px);
  float: left;
  margin-left: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-policy .slickpoli .policy-item .info {
    width: calc(100% - 110px);
    -o-width: calc(100% - 110px);
    -moz-width: calc(100% - 110px);
    -webkit-width: calc(100% - 110px);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-policy .slickpoli .policy-item .info {
    width: calc(100% - 100px);
    -o-width: calc(100% - 100px);
    -moz-width: calc(100% - 100px);
    -webkit-width: calc(100% - 100px);
  }
}

.section-policy .slickpoli .policy-item span {
  font-size: 1.6rem;
  color: #483e3c;
  margin: 0;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  line-height: normal;
}

.section-policy .slickpoli .policy-item p {
  font-size: 1.2rem;
  color: #726c6c;
  margin: 0;
  line-height: normal;
}

.section-policy .slickpoli .policy-item i {
  font-size: 34rem;
  color: #1c1c1c;
}

.section-policy .slickpoli .policy-item img, .section-policy .slickpoli .policy-item i {
  margin: 0 auto;
  width: auto;
  height: 27px;
}

@media (max-width: 767px) {
  .section-policy .slickpoli .policy-item .media {
    float: none;
  }
  .section-policy .slickpoli .policy-item .info {
    padding: 0;
    text-align: center;
    margin: 0;
    width: 100%;
  }
}

/*==== Section Policy ====*/
.section-product-hot {
  margin-bottom: 40px;
}

.section-product-hot .product-hot-slider .swiper-button-next:after, .section-product-hot .product-hot-slider .swiper-button-prev:after {
  font-size: 20px;
  color: var(--mainColor);
}

@media (max-width: 767px) {
  .section-product-hot .product-hot-slider .swiper-button-next:after, .section-product-hot .product-hot-slider .swiper-button-prev:after {
    font-size: 15px;
  }
}

.section-product-hot .product-hot-slider .swiper-button-next, .section-product-hot .product-hot-slider .swiper-button-prev {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(168, 168, 168, 0.25);
          box-shadow: 0px 2px 4px 0px rgba(168, 168, 168, 0.25);
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0px;
}

.section-product-hot .product-hot-slider .swiper-button-next:after, .section-product-hot .product-hot-slider .swiper-button-prev:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .section-product-hot .product-hot-slider .swiper-button-next, .section-product-hot .product-hot-slider .swiper-button-prev {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1200px) {
  .section-product-hot .product-hot-slider .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .section-product-hot .product-hot-slider .swiper-button-next {
    right: 0px;
  }
}

@media (max-width: 767px) {
  .section-product-hot .product-hot-slider .swiper-button-next {
    right: 5px;
  }
}

@media (min-width: 1200px) {
  .section-product-hot .product-hot-slider .swiper-button-prev {
    left: 10px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .section-product-hot .product-hot-slider .swiper-button-prev {
    left: 0px;
  }
}

@media (max-width: 767px) {
  .section-product-hot .product-hot-slider .swiper-button-prev {
    left: 5px;
  }
}

/*==== Section Banner ====*/
.section-banner {
  margin-bottom: 40px;
}

.section-banner .scale_hover {
  display: block;
  overflow: hidden;
  height: auto;
  padding-bottom: 48.95%;
  position: relative;
}

.section-banner .scale_hover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.section-banner .scale_hover:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/*==== Footer ====*/
footer.footer .mid-footer {
  padding: 40px 0 0px 0px;
  position: relative;
  background-image: url("../images/bg_footer.jpg");
  background-repeat: repeat;
}

footer.footer .mid-footer .widget_first_childs .logo_footer {
  margin-bottom: 20px;
}

footer.footer .mid-footer .widget_first_childs .logo_footer img {
  max-height: 50px;
  width: auto;
}

footer.footer .mid-footer .widget_first_childs .widget-ft-top .time_work {
  width: 100%;
  float: left;
}

footer.footer .mid-footer .widget_first_childs .widget-ft-top .time_work .itemfooter {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

footer.footer .mid-footer .widget_first_childs .widget-ft-top .time_work .itemfooter .r {
  display: inline-block;
  width: 100%;
  float: none;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

footer.footer .mid-footer .widget_first_childs .widget-ft-top .time_work .itemfooter .r .fas, footer.footer .mid-footer .widget_first_childs .widget-ft-top .time_work .itemfooter .r .fab {
  font-size: 1.6rem;
  color: var(--mainColor);
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
}

footer.footer .mid-footer .widget_first_childs .widget-ft-top .time_work .itemfooter .r span, footer.footer .mid-footer .widget_first_childs .widget-ft-top .time_work .itemfooter .r a {
  font-weight: 400;
  font-size: 1.6rem;
  display: inline-block;
  width: unset;
  float: none;
}

footer.footer .mid-footer .content-right .group_contact {
  margin-bottom: 20px;
}

footer.footer .mid-footer .content-right .group_contact fieldset {
  padding: 0 15px;
  border: none;
  width: 100%;
}

footer.footer .mid-footer .content-right .group_contact fieldset input, footer.footer .mid-footer .content-right .group_contact fieldset textarea {
  border: 1px solid #ebebeb;
  background-color: #fff;
  color: var(--mainColor);
  border-radius: 30px !important;
}

footer.footer .mid-footer .content-right .group_contact fieldset input {
  height: 45px;
  padding: 0px 20px;
}

footer.footer .mid-footer .content-right .group_contact fieldset .content-area {
  min-height: 100px;
  padding: 20px;
  border-radius: 30px !important;
  resize: none;
  margin-bottom: 15px;
}

footer.footer .mid-footer .content-right .group_contact fieldset #sc_form {
  display: inline-block;
  width: 100%;
  padding: 5px 15px !important;
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 0px;
  margin-bottom: 15px;
}

footer.footer .mid-footer .content-right .group_contact fieldset .btn-lienhe {
  background: var(--mainColor);
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0px 40px;
  font-weight: 700;
  font-size: 1.4rem;
  display: inline-block;
  border-radius: 30px;
  position: relative;
}

footer.footer .mid-footer .content-right .group_contact fieldset .btn-lienhe:hover {
  background: var(--hover);
}

footer.footer .copyright {
  text-align: center;
  font-size: 1.6rem;
  position: relative;
  width: 100%;
  float: left;
  background: transparent;
  padding: 20px 0;
  border-top: 1px solid #ebebeb;
}

footer.footer .copyright #copyright {
  line-height: 50px;
}

footer.footer .copyright #copyright b {
  color: var(--mainColor);
}

@media (max-width: 767px) {
  footer.footer .copyright #copyright, footer.footer .copyright .icon_footer {
    text-align: center !important;
  }
}

footer.footer .back-to-top {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  top: auto !important;
  height: 30px;
  width: 30px;
  background-color: var(--mainColor);
  line-height: 30px;
  border-radius: 4px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
  display: flex !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer.footer .back-to-top img {
  width: 20px;
  height: auto;
}

footer.footer .back-to-top:hover {
  background-color: var(--hover);
}

footer.footer .back-to-top.show {
  position: fixed;
  z-index: 999;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=index.css.map */