/*================ Gerenal ================*/
.display_ {display:none;}
.lazyload {
	background:#ebebeb;
	&.loaded {
		background:transparent;
	}
}
.hidden {
	display:none !important;
}

@media (max-width:767px) {
	.hidden-xs {
		display:none!important;
	}
}